In [2]:
# importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
#Importing orders_products_customer_merge_spl.pkl
newpath = 'preparedData'

In [4]:
ords_prods_cust_mergedspl_df= pd.read_pickle(os.path.join(newpath,'orders_products_customer_merge_spl.pkl'))

In [5]:
# Apply function to display all columns wihtin the dataframe
pd.options.display.max_columns = None

In [6]:
# Check the output
ords_prods_cust_mergedspl_df.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_order_frequency,order_frequency_flag,first_name,last_name,gender,state,age,date_joined,num_of_dependants,martital_status,income
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [7]:
# Check the dimensions
ords_prods_cust_mergedspl_df.shape

(15791657, 35)

# 3 Remove 'first_name and 'last_name' columns to address PII data

In [8]:
# Dropping 'first_name' and 'last_name' columns
ords_prods_cust_mergedspl_df = ords_prods_cust_mergedspl_df.drop(columns = ['first_name', 'last_name'])

In [9]:
# Check the result
ords_prods_cust_mergedspl_df.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_order_frequency,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,martital_status,income
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

# 4 Compare customers behaviour across geographic regions

In [10]:
##creating 'region' columns
ords_prods_cust_mergedspl_df['state'].value_counts(dropna = False)

state
California              329535
Rhode Island            328193
Pennsylvania            327180
North Carolina          326631
Georgia                 325705
Massachusetts           324088
Missouri                321681
Louisiana               321570
Alabama                 320245
South Carolina          318314
New York                316901
Kansas                  316282
Minnesota               316041
New Jersey              315280
Oklahoma                314734
Illinois                313639
Mississippi             313499
South Dakota            313356
Arkansas                312668
Wyoming                 312380
Alaska                  312191
New Mexico              312086
Washington              311580
Virginia                311318
Ohio                    311036
Colorado                308828
Oregon                  308365
Arizona                 307862
North Dakota            307814
Delaware                307776
District of Columbia    306853
Michigan                304700
Connecticut             304520
Hawaii                  304418
Maine                   302964
Florida                 302507
Tennessee               301779
Kentucky                301095
Nebraska                300472
Iowa                    300008
Maryland                299917
West Virginia           299301
Nevada                  299252
Indiana                 299243
Wisconsin               298886
Utah                    297834
Texas                   297816
Montana                 297619
New Hampshire           296359
Vermont                 294679
Idaho                   294657
Name: count, dtype: int64


##All states will be divided by regions according to Wikipedia list: https://simple.wikipedia.org/wiki/List_of_regions_of_the_United_States

In [11]:
# Create 'regions' list to assign a region for each state
regions = []

for value in ords_prods_cust_mergedspl_df['state']:
  if value in ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']:
    regions.append('Northeast')
  elif value in ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']:
    regions.append('Midwest')
  elif value in ['Idaho','Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico']:
    regions.append('West')
  else:
    regions.append('South')

In [12]:
# Create 'regions' column within dataframe
ords_prods_cust_mergedspl_df['regions'] = regions

In [13]:
# Check the output
ords_prods_cust_mergedspl_df.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_order_frequency,order_frequency_flag,gender,state,age,date_joined,num_of_dependants,martital_status,income,regions
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [14]:
# Check frequency of values within 'regions' column
ords_prods_cust_mergedspl_df['regions'].value_counts()

regions
South        6847817
Midwest      3703158
Northeast    2810164
West         2430518
Name: count, dtype: int64

In [ ]:
##Compare Customer spendings across regions

In [16]:
 # Create crosstab between 'regions' and 'spending_flag' columns
crosstab_regn_spendg = pd.crosstab(ords_prods_cust_mergedspl_df['regions'],ords_prods_cust_mergedspl_df['spending_flag'], dropna = False)

In [17]:
# Check the output
crosstab_regn_spendg

spending_flag  High spender  Low spender
regions
Midwest               74658      3628500
Northeast             46457      2763707
South                130923      6716894
West                  42368      2388150

Northeast and West regions have approximately 16% of high spenders.
West has the lowest percentage of low spenders, which is 15,6%.
South region has the highest number of high- and low-spending customers, each group has 43% of total

# Create an exclusion flag for low - activity customers and exclude them from the data

In [18]:
 # Set first condition (low-activity customers if orders number <5)
ords_prods_cust_mergedspl_df.loc[ords_prods_cust_mergedspl_df['max_order'] < 5, 'user_activity_flag'] = 'Low activity'

/var/folders/n3/cnsw2_q5653501p8bw3zft6h0000gp/T/ipykernel_4434/1830309680.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low activity' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_cust_mergedspl_df.loc[ords_prods_cust_mergedspl_df['max_order'] < 5, 'user_activity_flag'] = 'Low activity'

In [20]:
 # Set second condition (regular customers if orders number >=5)
ords_prods_cust_mergedspl_df.loc[ords_prods_cust_mergedspl_df['max_order'] >= 5, 'user_activity_flag'] = 'Normal activity'

In [21]:
# Check the output

ords_prods_cust_mergedspl_df['user_activity_flag'].value_counts(dropna = False)

user_activity_flag
Normal activity    15094953
Low activity         696704
Name: count, dtype: int64

In [ ]:
###Removing low-activity customers from dataframe

In [22]:
# Create subset df with only low-activity customers
df_low_activity = ords_prods_cust_mergedspl_df[ords_prods_cust_mergedspl_df['user_activity_flag'] == 'Low activity']

In [23]:
# Check the output
df_low_activity['user_activity_flag'].value_counts()

user_activity_flag
Low activity    696704
Name: count, dtype: int64

In [24]:
# Create subset df with only normal-activity customers
df_normal_activity = ords_prods_cust_mergedspl_df[ords_prods_cust_mergedspl_df['user_activity_flag'] == 'Normal activity']

In [25]:
# Check the output
df_normal_activity['user_activity_flag'].value_counts()

user_activity_flag
Normal activity    15094953
Name: count, dtype: int64

In [26]:
# Check the total length of new dataframes
len(df_normal_activity) + len(df_low_activity)

15791657

# Exporting Dataframes

In [28]:
newpath = 'preparedData'

In [29]:
# Export ords_prods_customers dataframe in pkl format
ords_prods_cust_mergedspl_df.to_pickle(os.path.join(newpath,'ords_prods_cust_mergespl_df.pkl'))

In [30]:
# Export df_normal_activity dataframe in pkl format
df_normal_activity.to_pickle(os.path.join(newpath,'normal_activity_subset.pkl'))

In [31]:
# Export df_normal_activity dataframe in pkl format
df_low_activity.to_pickle(os.path.join(newpath,'low_activity_subset.pkl'))